<?xml version="1.0" encoding="utf-8"?>
<config>
    <modules>
        <module>
            <releasePathPrevious>a</releasePathPrevious>
            <releasePathPresent>b</releasePathPresent>
            <incrementalJarsPath>c</incrementalJarsPath>
            <releaseVersion>1</releaseVersion>
        </module>
        <module>
            <releasePathPrevious>d</releasePathPrevious>
            <releasePathPresent>e</releasePathPresent>
            <incrementalJarsPath>f</incrementalJarsPath>
            <releaseVersion>2</releaseVersion>
        </module>
    </modules>
</config>
